<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let c of coffees">
  <div class="card " >
        <h4 class="card-header" data-background-color="brown">
          <img class="card-avatar " src={{c.imageURL}}/>
        </h4>   
        <h4 class="card-content" >Name: {{c.name}}</h4>
        <h4 class="card-content" >Type: {{c.type}}</h4>
        <h4 class="card-content category">Intensity: {{c.intensity}}</h4>
        <blockquote class="stats">
          <p>Description:</p>
           <p>{{c.description}}</p>
        </blockquote>
  </div>
</div>
</div>
